---
import AboutImage from "@components/AboutImage.astro";
import Experience from "@components/Experience.astro";
import Skills from "@components/Skills.astro";
import Layout from "@layout/Layout.astro";
---

<Layout
  pageTitle="About"
  description="I'm Moss. A self-taught developer based in Manchester, UK."
  type="content"
>
  <main class="px-8">
    <AboutImage />
    <Experience />
    <Skills />
  </main>
</Layout>
