---
import SocialMediaIcons from "@components/SocialMediaIcons.astro";
import HighlightedLink from "./HighlightedLink.astro";
---

<div class="flex flex-col gap-8 items-center mx-auto mt-24">
  <div class="flex flex-col gap-2 items-center mx-auto">
    <img
      decoding="async"
      loading="lazy"
      class="w-20 h-20 rounded-full shadow-sm sm:w-28 sm:h-28 shadow-white aspect-[1/1]"
      src="/images/me2.webp"
      alt="Me"
    />
    <SocialMediaIcons
      class="w-8 h-8 stroke-1 hover:cursor-pointer stroke-primary-300 hover:stroke-accent-400"
    />
  </div>
  <div class="flex flex-col gap-4 mb-2 max-w-[75ch]">
    <h1 class="text-4xl font-bold tracking-tighter sm:text-5xl">
      Self-taught developer, game dev and content creator
    </h1>
    <p class="text-primary-300">
      I'm Moss, a self-taught developer based in Manchester, UK. 
      This website serves as a place to share my personal projects, which includes websites, games and more.
    </p>
  </div>
</div>
